body {
    background-color: #F5F6CE !important;
}
.g-doc {
    background-color: #F5F6CE !important;
}
#ae-appbar-lrg {
    background-color: #949485 !important;
    border-top: 1px solid #8D8D7F !important;
}
.ae-table thead th {
    background-color: #949485 !important;
}
.ae-table-caption, .ae-table caption {
    background-color: #949485 !important;
}
#ae-lhs-nav {
    border-right:3px solid #FAFAEB !important;
}
#ae-nav .ae-nav-selected {
    background-color: #FAFAEB !important;
}
#bd h2.ae-table-title {
    background-color: #949485 !important;
    border-left: 1px solid #949485 !important;
    border-right: 1px solid #949485 !important;
    border-top: 1px solid #949485 !important;
}
a {
    color: #33332E !important;
}
.ae-message {
    background-color: #949485 !important;
}
.ae-action {
    color: #33332E !important;
}
.ae-table {
    border: 1px solid #949485 !important;
}
.ae-even>td, .ae-even th, .ae-even-top td, .ae-even-tween td, .ae-even-bottom td, ol.ae-even {
    border-top: 1px solid #949485 !important;
    border-bottom: 1px solid #949485 !important;
}
.ae-table td {
    border-top: 1px solid #949485 !important;
    border-bottom: 1px solid #949485 !important;
}

.ae-table-caption, .ae-table caption {
    border: 1px solid #B3B3A1 !important;
}

#ft {

     border-top: 2px solid #949485 !important;
}

.ae-table tfoot tr td {
border-top: 1px solid #949485 !important;
background-color: #949485 !important;
}

.goog-tab {
    border: 1px solid #949485 !important;
    background: #F5F6CE !important;
}
.goog-tab-content {
    border: 1px solid #949485 !important;
    border-top: none;
}

.goog-tab-bar-clear {
border-top: 1px solid #F5F6CE !important;
clear: both;
height: 0;
overflow: hidden;
}
